/* CSSのリセット */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: linear-gradient(to right, #e0eafc, #cfdef3); /* 背景グラデーション */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    user-select: none;
}

header {
    width: 100%;
    padding: 15px 4%;
    background-color: #97b0d6;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* ヘッダーが常に上に表示されるようにする */
    border-bottom: solid #555 0.3px;
}

h1 {
    font-size: 24px;
    color: #333;
}

.main-content {
    max-width: 800px; /* コンテンツの最大幅を設定 */
    width: 100%;
    text-align: center;
    margin-top: 100px; /* ヘッダー下の余白 */
}

#Vodai {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px; /* 下に余白 */
}

#input, #time {
    font-size: 20px;
    color: #555;
    margin: 10px 0;
}

#miss, #missMSG {
    font-size: 18px;
    color: #d9534f; /* ミスのメッセージは赤 */
}

#startButton {
    border: none;
    width: 200px;
    height: 60px;
    background-color: #5bc0de; /* ボタンの背景色 */
    color: #fff; /* ボタンの文字色 */
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: 20px; /* ボタンの上に余白 */
}

#startButton:hover {
    background-color: #31b0d5; /* ホバー時の背景色 */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

#startButton:active {
    background-color: #28a9e0; /* クリック時の背景色 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
